@font-face {
    font-family: Voyage;
    src: url("../fonts/made_bon_voyage/MADE\ Bon\ Voyage\ Regular\ PERSONAL\ USE.otf");
}
@font-face {
    font-family: Corporate;
     src: url("../fonts/BillCorporate/bill\ corporate\ narrow\ W00\ bold.ttf");
}
@font-face {
    font-family: CorporateLight;
     src: url("../fonts/BillCorporate/bill\ corporate\ narrow\ W00\ light.ttf");
}
@font-face {
    font-family: CorporateMedium;
    src: url("../fonts/BillCorporate/bill\ corporate\ narrow\ W00medium.ttf");
}

.navbar-collapse{
    flex-grow: 0 !important;
}
nav a {
    /* border-bottom: solid 1px black; */
    color: #3B2313 !important;
    font-family: CorporateMedium;
    font-size: large;
    margin-right: 2em;
}
nav .container {
    border-bottom: #3b231321 solid 1px;

}
.navbar-toggler-icon {
    background-image: url(../images/menu.png);
}
.side-button {
    display: flex;
    padding: 10px;
}
.side-button img {
    width: 70px;
    height: 70px;
}
.side-button div{
    padding-top:5px ;
    margin-left: 10px;
}
.side-button h6 {
    font-family:Corporate ;
}
.side-button h2 {
    font-family: Voyage;
}
.under-button {
    display: none;
}
@media (max-width:1000px) {
    .over-button {
        display: none;
    }
    .under-button {
        display: block;
    }

    .side-button {
        padding-left: 0px;
    }
    nav {
        background-color: white !important;
    }
    nav .container {
        border-bottom: none;
    }
}
.heh {
    position: relative;
    margin-bottom: 0px !important;
    padding-bottom: 0px !important;
}


.hero-section .container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: absolute;
    top: 20%;
    left: 10%;
    right:10%;
}


.hero-section .container img {
    width: 120%;
    height: 120%;
}
.hero-section .container div {
    padding: 20px;

}

.hero-section h1 {
    font-family: Voyage;
    font-size: 200px;
    padding-bottom: 0px;
    margin-bottom: 0px;
    color:#3B2313;
    text-shadow: rgba(0, 0, 0, 0.192) 0px 4px 3px;
}
@media (max-width: 1620px){
    .hero-section .container {
        /* left: 15%; */
        right:15%;
    }
    /* .hero-section h1 {
        font-size: 800%;
    } */
}
@media (max-width:1550px) {
    .hero-section .container {
        left: 15%;
        right:15%;
    }
    /* .hero-section h1 {
        font-size: 1000%;
    } */
    .hero-section .container img {
        width: 80%;
    }
}
@media (max-width: 1300px){
    .hero-section .container {
        left: 15%;
        right:15%;
    }
    .hero-section h1 {
        font-size: 800%;
    }
    .hero-section .container img {
        width: 70%;
    }
}
@media (max-width:1200px) {
    .side-button h6 {
        font-size: 10px;
    }
    .side-button h2 {
        font-size: 15px;
    }
    .side-button img {
        height: 40px;
        width: 40px;
    }
    nav a{
        font-size: 15px;
    }
    .logo-container img {
        width: 60% !important;
    }
}
@media (max-width:1050px) {
    .hero-section h1 {
        font-size: 600%;
    }
    .hero-section img {
        width: 60%;
    }
}

.hero-section h3 {
    font-family: Corporate;
    color:#3B2313 ;
}
.hero-section h3 span {
    letter-spacing: -5px;
}
.order-btn {                              /* HOVER EFFECTS DAALOOO == DAL GAYE */
    background-color: #3B2313 ;
    color: white;
    border-radius: 50px;
    padding: 20px 60px;
    font-family: Corporate;
    letter-spacing: 5px;
    font-size: large;
    margin-bottom: 50px;
    margin-top: 0px;
}
.order-btn:hover {
    color: white;
    background-color: #3B2313;
}
@media (max-width:930px) {
    .order-btn {
        font-size: 15px;
        padding: 10px 40px;
    }
    .hero-section h3 {
        font-size: 20px;
    }
}
@media (max-width:800px) {
    .hero-section h1 {
        font-size: 500%;
    }
    .hero-section img {
        width: 30%;
    }
    .hero-section h3 {
        font-size: 15px;
    }
    .hero-section {
        padding-bottom: -100px !important;
    }
}
@media (max-width:770px) {
    .order-btn {
        font-size: 10px;
        padding: 10px 30px;
        /* margin-bottom: 0px; */
    }
    .hero-section .container {
        display: block;
        position: relative;
        text-align: center;
        top: 0;
        left: 0;
        padding-top: 150px;
    }
    .hero-section {
        background-image: url("../images/hero-background.png");
        background-position:right;
        background-size: cover;
    }
    .hero-section div {
        text-align: left;
    }
    .hero-section h3{
        font-size: 18px;
    }
    .order-btn {
        font-size: 12px;
        letter-spacing: 3px;
        padding: 10px 40px;
        margin-bottom: 50px;
    }
    .hero-section .container img {
        width: 100%;
        padding:50px;
    }
    .heh{
        display: none;
    }

    

}
.about-section {
    padding-top: 50px;
    text-align: center;
    background-image: url("../images/About-Pattern.png");
}
.about-section h5 {
    color: #3B2313;
    font-family: Corporate;
}
.about-section h5 span {
    letter-spacing: -5px;
    margin-right: 10px;
}
.about-section h1{
    color: #3B2313;
    font-family: Voyage;
    font-size: 500%;
}
.about-section p {
    color: #3B2313;
    font-family: Voyage;
    font-size: 250%;
}
@media (max-width:770px) {
    .about-section h1 {
        font-size: 400%;
    }
    .about-section p {
        font-size: 200%;
    }
}
/* .about-section button {
    margin-bottom: 50px;
} */
/* .banner1-section {
    background-image: url("../images/Banner-1.png");
} */

.products-section {
    text-align: center;
    padding-top:100px ;
}
.products-section h5 {
    color: #3B2313;
    font-family: Corporate;
}
.products-section h5 span {
    letter-spacing: -5px;
    margin-right: 10px;
}
.products-section h1{
    color: #3B2313;
    font-family: Voyage;
    font-size: 500%;
}
@media (max-width:700px) {
    .products-section h1 {
        font-size: 400%;
    }
}
.owl-carousel .owl-nav.disabled {
    display: block !important;
}
.card {
    border:none;
}
.card-body * {
    padding-bottom: 10px;
}
.card-body h2 {
    font-family: Voyage;
    font-size: 300%;
}
.card-body h4 {
    color: #F38921;
    font-family: Corporate;
}
.owl-carousel {
    position: relative;
}
.owl-carousel .owl-nav {
    position: absolute;
    z-index: -2;
    top:25%;
    left:-11%;
    width:120%;
}
.owl-carousel .owl-prev {
    float: left;
}
.owl-carousel .owl-next {
    float: right;
}
.owl-carousel .owl-next span, .owl-carousel .owl-prev span {
    color: black;
    font-size: 60px;
    font-family: CoporateLight;
    /* background-color: gray;
    padding: 10px 20px;
    border-radius: 50%; */
    align-items: center;
}
.owl-carousel .owl-next span:hover, .owl-carousel .owl-prev span:hover {
    background-color: white;
} 
.owl1 {
    padding-bottom: 0px;
    margin-bottom: 0px;
}
@media (max-width:770px) {
    .owl-carousel .owl-nav {
        display: none !important;
    }
}
.banner2-section {
    margin-top: 70px;
}
.banner2-section .banner2-div {
    position: relative;
}
.banner2-section .container-div {
    position: absolute;
    left: 20%;
    top:30%;
    align-items: center;
}
.banner2-section .container-div h5 {
    color: #3B2313;
    font-family: Corporate;
}
.banner2-section .container-div h5 span {
    letter-spacing: -5px;
}
.banner2-section .container-div h1 {
    color: #3B2313;
    font-family: Voyage;
    font-size: 700%;
}
.banner2-section .container-div button {
    margin-top: 30px;
}
.bnr2 {
    display: none;
}
@media (max-width: 1300px){
    .banner2-section h1 {
        font-size: 500% !important;
    }
    .banner2-section .container-div {
        left: 10%;
        top: 20%;
    }
}
@media (max-width:1050px) {
    /* .banner2-section h1 {
        font-size: 200%;
    }
    .banner2-section .container-div {
        left: 10%;
        top: 10%;
    } */
}
@media (max-width:770px) {
    .banner2-section .container-div h1 {
        font-size: 300%;
    }
    .banner2-section .container-div {
        top: 20%;
    }
}
@media (max-width:700px) {
    .banner2-section img {
        display: none;
    }
    .banner2-section .container-div {
        position: relative;
        left: 0;
        top: 0;
        padding-top: 150px;
        padding-bottom: 50px;
    }
    .banner2-section {
        background-image: url("../images/Banner-2-background.png");
        background-position: center;
        background-size: cover;
    }
    .bnr2{
        display: block !important;
        padding: 50px ;
        width: 80%;
        padding-top: 0px;
    }
}
.testimonial-section {
    text-align: center;
    padding-top:100px ;
    padding-bottom: 100px !important;
}
.testimonial-section h5 {
    color: #3B2313;
    font-family: Corporate;
}
.testimonial-section h5 span {
    letter-spacing: -5px;
    margin-right: 10px;
}
.testimonial-section h1{
    color: #3B2313;
    font-family: Voyage;
    font-size: 500%;
}
@media (max-width:700px) {
    .testimonial-section h1{
        font-size: 400%;
    }
}
.owl2 p {
    font-family: CorporateLight;
    color: rgba(0, 0, 0, 0.8);
    text-align: left;
    text-overflow: ellipsis !important;
    overflow: hidden; 
    /* width: 160px;  */
    height: 9rem; 
}
.owl2 h6 {
    font-family: CorporateLight;
}
.owl2 .card {
    border:none;
    /* box-shadow: #00000050 1px 5px 10px; */

}
/* .owl2 .owl-item {
    background-color: #f6f6f6;
} */
.owl2 .item {
    margin-right: 70px;
    box-shadow: #00000020 1px 1px 10px;
    /* padding: 5px 10px */
}
.owl2 .card-body {
    padding: 30px 30px;
    padding-bottom: 10px;
    background-color: #f6f6f6;
}

.testimonial-section {
    background-color: white;
}
.owl2 {
    padding-bottom: 100px;
    border-radius: 0px;
}
.newsletter-section {
    position: relative;
}
.newsletter-section .container {
    position: absolute;
    top:30%;
    left:15%;
    text-align: center;
}
.newsletter-section .container h5 {
    color: #3B2313;
    font-family: Corporate;
}
.newsletter-section h5 span {
    letter-spacing: -5px;
    margin-right: 10px;
}
.newsletter-section .container h1 {
    color: #3B2313;
    font-family: Voyage;
    font-size: 700%;
}
.newsletter-section .container input {
    color: #000000;
    background-color: transparent;
    border: none;
    border-bottom: black solid 1px;
    width: 70%;
    padding: 10px;
    outline: none;
    font-size: 20px;
}
.newsletter-section .container input::placeholder {
    color: black;
    font-family: CorporateLight;
}

.newsletter-section .container button {
    margin-left: -60px;
}
/* .newsletter-section .container input:focus {
    border: none !important;
    border-bottom: black solid 1px;
} */
@media (max-width: 1300px){
    .newsletter-section .container h1 {
        font-size: 500%;
    }
    .newsletter-section .container {
        left: 5%;
    }
}
@media (max-width:1050px) {
    .newsletter-section .container h1 {
        font-size: 400%;
    }
    .newsletter-section .container {
        left: 2%;
    }
}
@media (max-width:770px) {
    .newsletter-section .container h1 {
        font-size: 300%;
    }
    .newsletter-section img {
        display: none;
    }
    .newsletter-section .container {
        position: relative;
        top:0;
        left:0;
        padding-bottom: 50px;
        padding-top: 50px;
    }
    .newsletter-section {
        background-image: url("../images/Newsletter-Image.png");
        background-position: center;
        background-size: cover;
    }
}

.footer {
    background-color: #000000 !important;
    padding: 100px 0px;
    color: white;
    font-size: larger;
}
.footer a {
    color: white;
    font-family: CorporateLight;
    text-decoration: none;
}
.footer ul li b {
    font-family: Corporate;
    padding-bottom: 20px;
}
.footer ul li {
    padding-bottom: 15px;
}
.footer p {
    text-align: center;
}

.clean-block {
    padding-bottom: 0px !important;
}
.footer .col-3 {
    border-right: rgba(255, 255, 255, 0.25) solid 1px ;
    padding-left: 50px;
}
.footer .last {
    border-right: none;
}
@media (max-width:1300px) {
    .foot-logo img {
        width: 80%;
    }
}
@media (max-width:770px) {
    .row {
        display: block;
    }
    .col-3 {
        width: 100%;
    }
    .foot-logo {
        text-align: center;
        margin-bottom: 50px;
    }
    .foot-logo img {
        width: 30%;
    }
    .footer ul li {
        padding-bottom: 7px;
    }
    .footer .col-3 {
        border-right: none;
        padding-left: none;
    }
}









/* --------------- about -------------------- */
.header-section {
    padding-top: 200px;
    padding-bottom: 100px;
    text-align: center;
}
.header-section h1 {
    font-family: Voyage;
    font-size: 500%;
    color: #3B2313;
    text-shadow: rgba(0, 0, 0, 0.192) 0px 4px 3px;
}
.new-about {
    background-image: url("../images/about-background-image.png");
    background-position: bottom;
    background-size:cover ;
    margin-bottom: 0px;
}
/* -------------- contact ---------------------*/
.contact-section {
    padding-top: 100px;
    text-align: center;
    padding-bottom: 70px !important;
}
.contact-section .container h5 {
    color: #3B2313;
    font-family: Corporate;
}
.contact-section h5 span {
    letter-spacing: -5px;
    margin-right: 10px;
}
.contact-section h1 {
    font-family: Voyage;
    font-size: 400%;
    color: #3B2313;
}
.icon-div {
    display: flex;
    justify-content: space-evenly;
}
.icon-div img {
    width: 70%;
    padding-bottom: 30px;
}
.icon-div h3 {
    font-family: Corporate;
    padding-bottom: 5px;
}
.icon-div h6 {
    font-family: CorporateLight;
    color: #000000;
}
.contact-form-section {
    padding-top: 100px;
    background-color: #f6f6f6;
    text-align: center;
}
.contact-form-section h5 {
    color: black;
    font-family: Corporate;
}
.contact-form-section h5 span {
    letter-spacing: -5px;
    margin-right: 10px;
}
.contact-form-section h1 {
    font-family: Voyage;
    font-size: 400%;
    color: black;
}
.contact-form-section form {
    display: block;
}
.contact-form-section form input, .contact-form-section form textarea {
    /* text-align: center; */
    width: 60%;
    margin-bottom: 10px;
    background-color: white;
    border: none;
    border-radius: 50px;
    padding:15px ;
    padding-left: 30px;
    font-family: CorporateLight;
    outline: none;
    /* font-size: 20px; */
}
.contact-form-section form textarea {
    border-radius: 30px;
}
.contact-form-section button {
    width: 60%;
    padding-top: 10px;
    padding-bottom: 10px;
}

/* ------------ details ---------------------*/

.product-details-section {
    padding-top: 250px;
    padding-bottom: 100px  !important;
}
.product-details-section .container {
    display: flex;
    justify-content: center;
    align-items: center;
}
.product-details-section .container div h1 {
    font-family: Voyage;
    font-size: 500%;
    color: #3B2313;
    text-shadow: rgba(0, 0, 0, 0.192) 0px 4px 3px;
}
.product-details-section .container div p {
    font-family: Voyage;
    font-size: 130%;
    color: #3B2313;
}
.product-details-section .container div .order-btn2 {
    background-color: white;
    color: #3B2313;
    width: 100%;
    border: #3B2313 solid 1px;
    padding: 10px 30px;
    margin-bottom: 20px;
}
.product-details-section .container div .order-btn {
    width: 100%;
    padding:10px 30px;
    margin-top: 0px;
}
.product-details-section img {
    margin-right: 50px;
}
@media (max-width:700px) {

    .product-details-section .container {
        display: block;
    }
    .product-details-section img {
        margin-bottom: 50px;
        margin-right: 0px;
    }
    .product-details-section .container div {
        width: 100%;
    }
    .product-details-section .container div h1 {
        font-size: 80px;
    }
    
}

a {
    text-decoration: none;
    color:#3B2313;
}
a:hover {
    color:#3B2313;
}

input[type="number"] {
    -webkit-appearance: textfield;
    -moz-appearance: textfield;
    appearance: textfield;
    outline: none;
    border: none;
    background-color: white;
    text-align: center;
    width: 3rem;
    padding-top: 5px;
    padding-bottom: 5px;
  }
  
  input[type=number]::-webkit-inner-spin-button,
  input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
  }
  
  .number-input {
    border: 2px solid #ddd;
    display: inline-flex;
    border-radius: 50px;
    margin-bottom: 30px;
  }
  
  .number-input,
  .number-input * {
    box-sizing: border-box;
  }
  
  .number-input button {
    outline:none;
    -webkit-appearance: none;
    background-color: transparent;
    border: none;
    align-items: center;
    justify-content: center;
    width:3rem;
    height: 3rem;
    cursor: pointer;
    margin: 0;
    position: relative;
    font-size: 30px;
    align-items: center;
    text-align: center;

  }
